#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;  
  padding: 16px;
  justify-content: center;  
}

/* Card Styling */
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;  
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 16px;
  box-sizing: border-box;  
}

 
.card-body {
  text-align: center;
}

/* Hover and Active States */
.card:hover {
  transform: scale(1.02);  
}

.card.active {
  background-color: #9f3737;  
}
